<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Linguistic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A4AC68C1BA5C51D002DB823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4AC6A01BA5C51E002DB823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4AC6AB1BA5C51E002DB823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
